body {
    background-image: url("https://images.unsplash.com/photo-1463143296037-46790ff95a7e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #657fa7;
    font-family: 'Dancing Script', cursive;

}
    
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#btn {
    color: #623929;
    background-color: #dab7a9;
    border-radius: 100%;
    padding: 25px;
    font-size: 40px;
    border: 3px solid #492d22;
    font-family: 'Dancing Script', cursive;
    position: fixed;
    bottom: 30px;
}

#par {
    display: none;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    background-color: #b8c4eb;
    background-image: linear-gradient(19deg, #e8e8e8 0%, #b5b7b9 100%);
    border-radius: 20px;
    border: 2px solid #54595e;
    width: 70%;
    padding: 20px;
    text-align: center;
}